body{
    background-image: url(https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp);
    text-align: center;
    margin:auto;
    font-size: larger;
}
#container{
    max-width: 650px;
    margin: auto;
    padding: 30px;
  }
.box{
    height: 300px;
    width: 650px;
    margin-left: -30px;
    border: 1px solid yellow;
    border-radius: 15px;
    padding: 50px;
    }

button {
    padding: 10px 24px;
    border-radius: 10px;
    transition-duration: 0.5s;
  }
  
button:hover {
    background-color: yellow; /* Green */
    color: black;
    
  }
h2, p{
    color: blanchedalmond;
}
